:root {
  --first-text-color: #999999;
  --second-text-color: #ffffff;
  --first-title-color: #ffffff;
  --second-title-color: #323232;
  --accent-color: #4985ff;
  --main-lh: 1.25;
  --btn-color: #ffffff;
  --card-gap: 30px;
  --card-item: 3;
  --transition: 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

a {
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.transition {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text-white {
  color: var(--second-text-color);
}

.text-black {
  color: var(--second-title-color);
}

.container {
  width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-gap);
}

.card-set-item {
  flex-basis: calc((100% - (var(--card-item) - 1) * var(--card-gap)) / var(--card-item));
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo--white {
  color: var(--second-text-color);
}
.logo--black {
  color: var(--second-title-color);
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition), visibility var(--transition);
  opacity: 1;
  visibility: visible;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(90deg);
}

.modal-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal {
  width: 100%;
  max-width: 528px;
  height: 581px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform var(--transition);
  padding: 40px;
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal-close-icon {
  transition: fill var(--transition);
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: var(--accent-color);
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--btn-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  min-width: 200px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 30px;
  transition: color var(--transition), background-color var(--transition);
  /* transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}
.btn:hover, .btn:focus {
  color: var(--accent-color);
  background-color: var(--btn-color);
}
.btn--center {
  margin: 0 auto;
}

.form__label {
  display: flex;
  flex-direction: column;
}
.form__label:not(:last-of-type) {
  margin-bottom: 10px;
}
.form__label:last-of-type {
  margin-bottom: 20px;
}
.form__label-text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}
.form__input, .form__textarea {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--transition);
  outline: none;
}
.form__input:focus, .form__textarea:focus {
  border: 1px solid var(--accent-color);
}
.form__input {
  height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  padding-right: 12px;
}
.form__textarea {
  height: 120px;
  resize: none;
  padding: 12px 16px;
}
.form__textarea::placeholder {
  color: rgba(117, 117, 177, 0.5);
}
.form__wrapper {
  position: relative;
}
.form__input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
  transition: fill var(--transition);
}
.form__input:focus + .form__input-icon {
  fill: var(--accent-color);
}
.form__policy {
  margin-bottom: 30px;
}
.form__policy-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  cursor: pointer;
}
.form__custom-check {
  border: 2px solid grey;
  width: 16px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
}
.form__check:checked + .form__custom-check {
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
}
.form__check:focus + .form__custom-check {
  border: 2px solid var(--accent-color);
}
.form__link {
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  gap: 30px;
}

.navigation__link {
  color: var(--second-text-color);
  padding-top: 40px;
  padding-bottom: 40px;
  display: inline-block;
  transition: color var(--transition);
}
.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

.contact__list {
  display: flex;
  gap: 30px;
  margin-left: auto;
}

.contact__link {
  color: var(--second-text-color);
  padding-top: 40px;
  padding-bottom: 40px;
  display: inline-block;
  transition: color var(--transition);
}
.contact__link:hover, .contact__link:focus {
  color: #2196f3;
}

.header {
  background-color: gray;
  font-weight: 500;
  font-size: 16px;
  line-height: var(--main-lh);
}
.header .logo {
  margin-right: 30px;
}
.header__container {
  display: flex;
  align-items: center;
}

.hero {
  background-image: url(../img/hero-img.jpg);
  /* background-image:  url(../img/hero-img.jpg), url(../img/hero-img.jpg); */
  /* background-size: 1920px 900px; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-position: center right calc(50% - 550px), top left calc(50% - 450px); */
  /* background-color: rgba(50, 50, 50, 0.7); */
  padding-top: 220px;
  padding-bottom: 335px;
}
.hero__text {
  font-weight: 500;
  font-size: 16px;
  line-height: var(--main-lh);
  text-align: center;
  color: var(--second-text-color);
  margin-bottom: 20px;
}
.hero__title {
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: var(--first-title-color);
  max-width: 829px;
  margin: 0 auto 50px;
}

.mobile {
  padding-top: 110px;
  padding-bottom: 105px;
}

.mobile-title {
  text-align: center;
  max-width: 739px;
  margin: 0 auto 32px;
}

.mobile-list {
  margin-bottom: 55px;
}

/* .mobile-item {
  flex-basis: calc((100% - ((3 - 1) * 30px)) / 3);
} */
.mobile-item-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  /* color: #4985FF; */
}

.mobile-item-icon {
  stroke: #4985ff;
  /* stroke: currentColor; */
  /* border-radius: ; */
}

/* .mobile-item-circle:hover{
  border-color: #4985FF;
  color: green;
} */
/* .mobile-item-circle:hover .mobile-item-icon{
  stroke: green;
} */
.mobile-item:hover .mobile-item-circle {
  border-color: #4985ff;
}

.mobile-item:hover .mobile-item-icon {
  stroke: green;
}

.mobile-text {
  font-size: 16px;
  line-height: 1.56;
  text-align: center;
  color: var(--first-text-color);
  max-width: 730px;
  margin: 0 auto 70px;
}

.mobile-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #000000;
  margin-bottom: 12px;
}

.mobile-item-text {
  font-size: 14px;
  line-height: 1.57;
  color: var(--first-text-color);
}

.mobile-btn {
  margin: 0 auto;
}

.standarts {
  padding-top: 100px;
  padding-bottom: 70px;
}

.standarts-top {
  padding-bottom: 90px;
  border-bottom: 1px solid #f6f6f8;
  margin-bottom: 70px;
}

.standarts-title {
  margin-bottom: 60px;
}

.standarts-text {
  font-size: 16px;
  line-height: 1.56;
  color: var(--first-text-color);
  margin-bottom: 42px;
}

.standarts-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--accent-color);
}

.standarts-item span {
  font-size: 36px;
  line-height: 1.47;
  color: #000000;
  margin-bottom: 17px;
}

.standarts-list {
  --card-item: 5;
  --card-gap: 50px;
}

/* .standarts-item {
  flex-basis: calc((100% - ((5 - 1) * 30px)) / 5);
  width: calc((100% - ((5 - 1) * 30px)) / 5);
} */
.standarts-item-text {
  font-size: 16px;
  line-height: 1.56;
  color: var(--first-text-color);
}

.works {
  background-color: #5478be;
  padding-top: 100px;
  padding-bottom: 85px;
}

.works-head {
  margin-bottom: 70px;
}

.works-title {
  color: var(--first-title-color);
}

.works-list {
  padding-bottom: 85px;
  border-bottom: 1px solid #e0e0e0;
}

.works-item {
  flex-basis: calc((100% - 60px) / 3);
}

.works-list img {
  border-radius: 10px;
  margin-bottom: 30px;
}

.works-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #000000;
  margin-bottom: 30px;
}

.works-item-title span {
  color: var(--accent-color);
}

.works-item-text {
  font-size: 16px;
  line-height: 1.56;
  color: var(--first-text-color);
  margin-bottom: 47px;
}

.works-item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--accent-color);
}

.projects-list {
  --card-item: 4;
}

.projects-item img {
  width: 100%;
}

.projects-title {
  /*position: absolute;*/
  /*bottom: 0;*/
  /*left: 0;*/
  width: 100%;
  text-transform: uppercase;
  padding: 20px;
  background-color: tomato;
  text-align: center;
  border-radius: 4px;
}

.projects-link {
  display: flex;
  flex-direction: column;
  /*position: relative;*/
  /*overflow: hidden;*/
}

.projects-link:hover .projects-text,
.projects-link:focus .projects-text {
  transform: translateY(0);
}

.projects-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #5478be;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transform: translateY(100%);
  transition: transform var(--transition);
}

.projects-wrap {
  position: relative;
  overflow: hidden;
}

.footer-list {
  --card-item: 1;
  /* --card-gap: 30px; */
}

.footer-contact-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 35px;
  color: var(--second-title-color);
}

.footer-link {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.57;
  color: #999999;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/* .footer-link:not(:first-child){
  margin-top: 30px;
} */
.footer-contact-list {
  --card-item: 4;
}

.footer-link-icon {
  fill: currentColor;
  margin-right: 15px;
}

/* .footer-list-item:first-child{
  margin-top: 35px;
} *//*# sourceMappingURL=main.css.map */