:root {
  --first-text-color: #999999;
  --second-text-color: #ffffff;
  --first-title-color: #ffffff;
  --second-title-color: #323232;
  --accent-color: #4985ff;
  --main-lh: 1.25;
  --btn-color: #ffffff;
  --card-gap: 30px;
  --card-item: 3;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

a {
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--btn-color);
  display: block;
  height: 45px;
  width: 200px;
  background-color: var(--accent-color);

  border-radius: 30px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-gap);
}

.card-set-item {
  flex-basis: calc(
    (100% - ((var(--card-item) - 1) * var(--card-gap))) / var(--card-item)
  );
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
}

.text-white {
  color: var(--second-text-color);
}

.text-black {
  color: var(--second-title-color);
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

/* --------------HEADER------------- */

.header {
  background-color: gray;
}

.header .logo {
  margin-right: 30px;
}
.header-nav,
.header-container {
  display: flex;
  align-items: center;
}

.header-list,
.contact-list {
  display: flex;
  gap: 30px;
}

.contact-list {
  margin-left: auto;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: var(--main-lh);
  color: var(--second-text-color);
  padding-top: 40px;
  padding-bottom: 40px;
  display: inline-block;
}

/* --------------HERO------------- */

.hero {
  background-color: #323232;
  padding-top: 220px;
  padding-bottom: 335px;
}

.hero-text {
  font-weight: 500;
  font-size: 16px;
  line-height: var(--main-lh);
  text-align: center;
  color: var(--second-text-color);
  margin-bottom: 20px;
}

.hero-title {
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: var(--first-title-color);
  max-width: 829px;
  margin: 0 auto 50px;
}

.hero-btn {
  margin: 0 auto;
}

/* --------------MOBILE------------- */

.mobile {
  padding-top: 110px;
  padding-bottom: 105px;
}

.mobile-title {
  text-align: center;
  max-width: 739px;
  margin: 0 auto 32px;
}

.mobile-list {
  margin-bottom: 55px;
}

/* .mobile-item {
  flex-basis: calc((100% - ((3 - 1) * 30px)) / 3);
} */

.mobile-text {
  font-size: 16px;
  line-height: 1.56;
  text-align: center;
  color: var(--first-text-color);
  max-width: 730px;
  margin: 0 auto 70px;
}

.mobile-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #000000;
  margin-bottom: 12px;
}

.mobile-item-text {
  font-size: 14px;
  line-height: 1.57;
  color: var(--first-text-color);
}

.mobile-btn {
  margin: 0 auto;
}

/* --------------STANDARTS------------- */

.standarts {
  padding-top: 100px;
  padding-bottom: 70px;
}

.standarts-top {
  padding-bottom: 90px;
  border-bottom: 1px solid #f6f6f8;
  margin-bottom: 70px;
}

.standarts-title {
  margin-bottom: 60px;
}

.standarts-text {
  font-size: 16px;
  line-height: 1.56;
  color: var(--first-text-color);
  margin-bottom: 42px;
}

.standarts-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--accent-color);
}

.standarts-item span {
  font-size: 36px;
  line-height: 1.47;
  color: #000000;
  margin-bottom: 17px;
}

.standarts-list {
  --card-item: 5;
  --card-gap: 50px;
}

/* .standarts-item {
  flex-basis: calc((100% - ((5 - 1) * 30px)) / 5);
  width: calc((100% - ((5 - 1) * 30px)) / 5);
} */

.standarts-item-text {
  font-size: 16px;
  line-height: 1.56;
  color: var(--first-text-color);
}

/* --------------WORKS------------- */

.works {
  background-color: #5478be;
  padding-top: 100px;
  padding-bottom: 85px;
}

.works-head {
  margin-bottom: 70px;
}

.works-title {
  color: var(--first-title-color);
}

.works-list {
  padding-bottom: 85px;
  border-bottom: 1px solid #e0e0e0;
}

.works-item {
  flex-basis: calc((100% - ((3 - 1) * 30px)) / 3);
}

.works-list img {
  border-radius: 10px;
  margin-bottom: 30px;
}

.works-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #000000;
  margin-bottom: 30px;
}

.works-item-title span {
  color: var(--accent-color);
}

.works-item-text {
  font-size: 16px;
  line-height: 1.56;
  color: var(--first-text-color);
  margin-bottom: 47px;
}

.works-item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--accent-color);
}

.projects-list {
  --card-item: 4;
}
