.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--btn-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  min-width: 200px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 30px;

  transition: color var(--transition), background-color var(--transition);
  /* transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
  &:hover,
  &:focus {
    color: var(--accent-color);
    background-color: var(--btn-color);
  }
  &--center {
    margin: 0 auto;
  }
}
