.mobile-menu {
  background-color: teal;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  opacity: 0;
  transition: transform var(--transition), opacity var(--transition);
}

.mobile-menu.is-open {
  transform: translateX(0);
  opacity: 1;
  //   background-color: teal;
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100vh;

  //   .navigation__list {
  //     display: flex;
  //   }
  //   .contact__list {
  //     display: flex;
  //   }
  //   .logo {
  //     display: none;
  //   }
}

.mobile-menu-close {
  display: none;
}
.mobile-menu-button.is-open .mobile-menu-close {
  display: block;
}
.mobile-menu-button.is-open .mobile-menu-icon {
  display: none;
}
.mobile-menu-button.is-open {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.mobile-menu-button {
  @include mq(tab) {
    display: none;
  }
}
