.navigation {
  // display: none;
  // @include mq(tab){
    display: flex;
    align-items: center;
  // }
  
  
}

.navigation__list {
  display: none;
  @include mq(tab){
      display: flex;
        gap: 30px;
  }

}

.navigation__link {
  color: var(--second-text-color);
  padding-top: 40px;
  padding-bottom: 40px;
  display: inline-block;
  transition: color var(--transition);
  &:hover,
  &:focus {
    color: #2196f3;
  }
}
