body {
  font-family: "Montserrat", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.transition {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text-white {
  color: var(--second-text-color);
}

.text-black {
  color: var(--second-title-color);
}
