:root {
  --first-text-color: #999999;
  --second-text-color: #ffffff;
  --first-title-color: #ffffff;
  --second-title-color: #323232;
  --accent-color: #4985ff;
  --main-lh: 1.25;
  --btn-color: #ffffff;
  --card-gap: 30px;
  --card-item: 3;
  --transition: 550ms cubic-bezier(0.4, 0, 0.2, 1);
}
